<section class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
            <div class="responsive_table">
              <div class="materialTableHeader">
                <div class="row">
                  <div class="col-8">
                    <ul class="header-buttons-left ml-0">
                      <li class="dropdown">
                        <h2>
                          <strong>Follow ups</strong>
                        </h2>
                      </li>
                      <li class="dropdown m-l-20">
                        <label for="search-input"><i class="material-icons search-icon">search</i></label>

                        <input #filter (keyup)='searchCallback($event)' aria-label="Search box"
                          [(ngModel)]="currentSearchText" class="browser-default search-field"
                          placeholder="Type min 3 characters" type="text">
                      </li>
                      <li class="dropdown m-l-20">
                        <label for="search-input"><i class="material-icons search-icon">date_range</i></label>

                        <input type="text" class="dateRange" ngxDaterangepickerMd [(ngModel)]="selectedDateRange"
                          class="browser-default search-field" placeholder="Choose date range filter"
                          [locale]="{format: 'DD-MM-YYYY'}" [showClearButton]="true" opens="right" [ranges]="range"
                          [alwaysShowCalendars]="true" (ngModelChange)="choosedDate($event)" />
                      </li>

                    </ul>
                  </div>
                  <div class="col-4">
                    <ul class="header-buttons">
                      <!-- <li>
                        <div [hidden]="!isAdminOrSuperAdmin()" style="padding: 10px">
                          <a href="javascript:void(0)" title="Add more filters" (click)="addAdvanceFilter()">Advance
                            filter</a>
                        </div>
                      </li> -->
                      <li>
                        <div class="icon-button-demo">
                          <button mat-mini-fab (click)="changeOpenFolloups()">
                            <mat-icon class="col-white"
                              matTooltip="{{isOpen ? 'Open Followups' : 'Closed Followups' }}">
                              {{isOpen ? "toggle_on" :
                              "toggle_off"}}</mat-icon>
                          </button>
                        </div>
                      </li>
                      <li>
                        <div class="icon-button-demo">
                          <button (click)="clearFilters()" mat-mini-fab >
                            <mat-icon class="col-white" matTooltip="Clear all Filters">clear</mat-icon>
                          </button>
                        </div>
                      </li>
                      <li>
                        <div class="icon-button-demo">
                          <button (click)="refresh()"  mat-mini-fab  >
                            <mat-icon class="col-white" matTooltip="Refresh">refresh</mat-icon>
                          </button>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="row">
                  <span style="margin-top:58px">
                    <small class="text-muted" style="color: #1b1f52">
                     Filters :
                      <small class="text-muted"><b>Start : </b>{{dateFilter.startDate}}, <b>End
                          :</b>{{dateFilter.endDate}}
                      </small>
                    </small>
                  </span>
                </div>
              </div>


              <ngx-datatable #table class="material" [rows]="rows" [sortType]="'multi'" [columnMode]="'force'"
                [headerHeight]="80" [footerHeight]="50" [count]="page.count" [offset]="page.offset" [limit]="page.limit"
                [externalPaging]="true" (page)="pageCallback($event)" (sort)="sortCallback($event)" [rowHeight]="'75'"
                [loadingIndicator]="loadingIndicator" [scrollbarH]="true">


                <!-------------------------- Row Detail Template-------------------------------------- -->
                <ngx-datatable-row-detail rowHeight="175" #myDetailRow (toggle)="onDetailToggle($event)">
                  <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                    <div class="row card-group ">
                      <div class="card" col-6>
                        <div class="card-body">
                          <div class="card-text row">
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
                              <div><strong>Customer email</strong> -
                                <span>{{ row.lead?.customer.email }}</span>
                              </div>

                              <div><strong>Created on -</strong>
                                <span>{{ row?.createdAt | date:'dd-MMM-yyyy HH:mm:SS'}}</span>
                              </div>

                              <div><strong>Last Updated on -</strong>
                                <span>{{ row?.lastUpdateAt | date:'dd-MMM-yyyy HH:mm:SS'}}</span>
                              </div>

                              <div><strong>CreatedBy -</strong>
                                <span>{{ row?.createdBy.name}} - {{row?.createdBy.roles[0].description}}</span>
                              </div>

                              <div *ngIf="row.lead?.deactivationReason"><strong style="color: red;">Deactivation Reason
                                  -
                                </strong>

                                <span>{{ row.lead?.deactivationReason?.description}}</span>
                              </div>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-8 col-sm-8 mb-2">
                              <div><strong>Last 2 Followups -</strong>
                                <ul>
                                  <li *ngFor="let followup of row?.followups; let i = index">
                                    <span *ngIf="i<3">{{followup.followupMessage}}</span>
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-8 col-sm-8 mb-2">
                              <div><strong>Last 2 Events -</strong>
                                <ul>
                                  <li *ngFor="let comment of row?.comments; let i = index">
                                    <span *ngIf="i<2">{{comment.message}}</span>
                                  </li>
                                </ul>
                              </div>
                            </div>

                          </div>
                        </div>
                        <small class="text-muted">For more details click on mobile number</small>
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-row-detail>



                <!--------------------- Expand collapse all rows ------------------------------ -->
                <ngx-datatable-column [sortable]="false" [width]="50">

                  <ng-template let-column="column" ngx-datatable-header-template>
                    <a href="javascript:void(0)" [class.datatable-icon-right]="!expandedAll"
                      [class.datatable-icon-down]="expandedAll" title="Expand/Collapse Row"
                      (click)="toggleExpandAllRows($event)">
                    </a>
                  </ng-template>


                  <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                    <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded"
                      [class.datatable-icon-down]="expanded" title="Expand/Collapse Row" (click)="toggleExpandRow(row)">
                    </a>

                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [width]="220" name="Customer Name">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <div class="d-inline-block text-truncate" style="max-width:146px;"
                      matTooltip="{{ row?.lead?.customer?.name }}">
                      {{ row?.lead?.customer?.name }}<br>
                      <small class="text-muted"> {{ row?.createdAt | date:'dd-MMM'}} ({{ row?.createdAt|dateAgo
                        }})</small>
                    </div>
                  </ng-template>


                </ngx-datatable-column>


                <!--------------------------- Customer Phone ------------------------------------------------->

                <ngx-datatable-column [width]="150" name="Customer Phone">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <a (click)='gotoLead(row)' href="javascript:void(0)" title="Click to view details">{{
                      row.lead?.customer?.phone }}</a>
                  </ng-template>
                </ngx-datatable-column>

                <!--------------------------- Followup time------------------------------------------------>
                <ngx-datatable-column [canAutoResize]="false" [flexGrow]="1" [minWidth]="180" [width]="160"
                  name="Follow-up">

                  <ng-template let-column="column" ngx-datatable-header-template>
                    Followup
                  </ng-template>


                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <span style=" cursor: pointer;" title="Click for more follow up details"
                      [ngClass]="checkFollowupPending(row.followups?.[0])" (click)="onSelect(row)">
                      {{row.followupTime |date:'dd-MMM-yyyy HH:mm'}}
                      <br>
                    </span>
                  </ng-template>
                </ngx-datatable-column>

                <!--------------------------- Assigned To ------------------------------------------------->
                <ngx-datatable-column name="Assigned To" [width]="350">
                  <ng-template let-column="column" ngx-datatable-header-template>
                    {{column.name}}<br>
                    <select (change)="assignedToFilterCallback($event.target.value)"
                      class="select-dropdown filtervalue">
                      <option value="NO">No Filter</option>
                      <option *ngFor="let user of metadata?.users" [ngValue]="user.id" [value]="user.id">
                        {{user.name}} ({{user.project.name}})
                      </option>
                    </select>
                  </ng-template>


                  <ng-template let-row="row" ngx-datatable-cell-template>

                    <ng-select dropdownPosition="bottom" style="overflow: visible;" [clearable]="false"
                      (ngModelChange)="changeAssigne($event,row)" bindLabel="name" appendTo="body"
                      [(ngModel)]="row.lead?.assignedTo.id">

                      <ng-option value="" disabled>Select Assignee</ng-option>
                      <ng-option *ngFor="let user of metadata?.users" [value]="user.id">
                        {{user.name}}-{{user?.roles[0]?.description}}
                      </ng-option>
                    </ng-select>


                  </ng-template>
                </ngx-datatable-column>

                <!---------------------------  Status ------------------------------------------------->
                <ngx-datatable-column [width]="200" name="Status">
                  <ng-template let-column="column" ngx-datatable-header-template>
                    {{column.name}}<br>
                    <select (change)="statusCallbackFilter($event.target.value)" class="select-dropdown filtervalue">
                      <option value="FOLLOW">No Filter</option>
                      <option *ngFor="let status of filteredFollowUpStatus" [ngClass]="getClassStatusColor(status.name)"
                        [value]="status.name" [ngValue]="status.name">
                        {{status.description}}
                      </option>
                    </select>
                  </ng-template>

                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <select #s (ngModelChange)="changeStatus($event,row,s)" [(ngModel)]="row.lead?.status.id"
                      class="select-dropdown">
                      <option value="" disabled>Select Status</option>
                      <option *ngFor="let status of metadata?.leadStatus" [ngClass]="getClassStatusColor(status.name)"
                        [ngValue]="status.id">
                        {{status.description}}
                      </option>
                    </select>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div>




  </div>
</section>